.container {
  max-width: 50rem;
  padding: 0 2rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerLayout {
  display: flex;
  align-items: flex-end;
}

.headerLink::after {
  background: none;
}

.headerImage {
  height: 6rem;
}

.headerHomeImage {
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}