html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: rgb(133, 10, 71);
  text-decoration: none;
  position: relative;
  padding: 0 3px;
  transition: .2s;
  display: inline-block;
}

a::after {
  background: #a3a3a383;
  height: 3px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  content: "";
  z-index: -1;
  transition: .2s;
}

a:hover::after {
  top: 0;
  height: 100%;
}

img {
  max-width: 100%;
  display: block;
}